
.zomato{
   color: aliceblue;
    text-align: center;

}
.wel{
    color:white;
    margin-top: 200px;
}

a{
    color: aliceblue;
    text-decoration: none;
}
body{
    background-image: url(f.webp);
    background-repeat: no-repeat;
    margin: auto;
    color:red;
    text-align: center;
    
    
    
   
}

   
